body {
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  text-align: center;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#sidebar {
  background-color:black;
  height: 100%;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1;
}

#sidebar a {
  color:honeydew;
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  text-decoration: none;
}

#sidebar a:hover {
  background-color: gray;
}

h1 {
  text-decoration: underline;
}

#comments-container {
  border: solid 1px rgb(0, 0, 0);
}

#comments-container li {
  border: solid 1px rgb(0, 0, 0);
  list-style-type: none;
  margin: 0;
  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 0;
  text-align: left;
}

#comments-container h4 {
  font-style: italic;
  margin-bottom: 3px;
  margin-top: 5px;
}

#comments-container img {
  display: block;
  max-width: 600px;
  height: auto;
}

#num-comments-input {
  text-align: right;
}

#num-comments-input label {
  font-size: 15px;
}

#num-comments-input input[type=number] {
  width: 50px;
}

textarea {
  height: 150px;
  width: 300px;
}

#comments-label h3 {
  padding-top: 20px;
}

#comments-form h4 {
  display: inline;
  padding-right: 10px;
}

#comments-form-message {
  font-style: italic;
  padding-top: 20px;
}
