#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#sidebar {
  background-color:black;
  height: 100%;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1;
}

#sidebar a {
  color:honeydew;
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  text-decoration: none;
}

#sidebar a:hover {
  background-color: gray;
}
